[user]
	name = loaden
	email = loaden@live.com
[core]
	autocrlf = input
	safecrlf = warn
[gui]
	spellingdictionary = en
[pull]
	rebase = false
[http "https://github.com"]
	proxy = 127.0.0.1:26501
	sslverify = false
